<section class="content-cards">
    <ul class="app-links-card">
      <li>
        <a href="/plants" class="app-link-desc">
            <mat-icon class="app-link-icon" svgIcon="plants-view" title="Plants view"></mat-icon>
            <p class="app-link-name">View plants</p>
        </a>
      </li>
      <li>
        <a class="app-link-desc">
            <mat-icon class="app-link-icon" svgIcon="humidity-status" title="Humidity status"></mat-icon>
            <p class="app-link-name">Humidity Level</p>
        </a>
      </li>
      <li>
        <a class="app-link-desc">
            <mat-icon class="app-link-icon" svgIcon="stats" title="Stats"></mat-icon>
            <p class="app-link-name">Stats</p>
        </a>
      </li>
      <li>
        <a class="app-link-desc">
            <mat-icon class="app-link-icon" svgIcon="warning" title="Notification"></mat-icon>
            <p class="app-link-name">Notifications</p>
        </a>
      </li>
    </ul>
  </section>
